@charset "UTF-8";

body{
    background-color: rgb(53, 52, 136);
}

#h1{
    color: black;
    font-size: 40px;
}

#corpo{
    border-radius: 10px;
    background-color: white;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

#final{
    align-items: center;
    color: white;
    text-align: center;
/*     font-size: 20px;
    padding-left: 43%; */
}

#primeiro_numero{
    margin-top: 2%;
    margin-right: 30%;
}

#segundo_numero{
    margin-top: 2%;
    margin-right: 30%;
}

li {
    text-align: left;
}